
  <mat-card> 
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Subyacente</mat-label>
        <input matInput formControlName="subyacente">
      </mat-form-field>
      <mat-form-field>
      <mat-label>Mes</mat-label>
      <mat-select  formControlName="month" *ngIf="dateService.months$ | async as months"> 
          <mat-option *ngFor="let month of months" [value]="month.value">
            {{month.label}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="search()">Analizar</button>
    <button mat-button (click)="clearCache()">Limpiar Chache</button>

  </form>
  </mat-card>
<ng-container *ngIf="info$ | async as info">
  <pre>
    {{ info | json }}
  </pre>
</ng-container>
