<mat-card color="gray" style="margin-top: 5px;">
    <div>
        <table class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-key">Precio Apertura:</td>
                <td class="col-value"><b>$ {{subyacente.apertura}}</b></td>
                <td class="col-key">Tendencia:</td>
                <td class="col-value"><b>{{subyacente.tendencia}}</b></td>
            </tr>
            <tr>
                <td class="col-key">Último Precio:</td>
                <td class="col-value"><b>$ {{subyacente.ultimoPrecio}}</b></td>
                <td class="col-key">Monto Operado:</td>
                <td class="col-value"><b>{{subyacente.montoOperado | currency}}</b></td>
            </tr>
            <tr>
                <td class="col-key">Máximo:</td>
                <td class="col-value"><b>$ {{subyacente.maximo}}</b></td>
                <td class="col-key">Variación diaria:</td>
                <td class="col-value"><b>{{subyacente.variacion}} %</b></td>
            </tr>
            <tr>
                <td class="col-key">Mínimo:</td>
                <td class="col-value"><b>$ {{subyacente.minimo}}</b></td>
                <td class="col-key"></td>
                <td class="col-value"></td>
            </tr>
        </tbody>
    </table>
    </div>
</mat-card>