mat-option.itm{
    background: greenyellow;
}
mat-option.otm{
    background: tomato;
}
.example-container {
    /*background-color: white; */
    width: 100%;
    height: 100%;  
  }
.example-sidenav-content {
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  padding: 20px;
}
.icon-logout{
  margin-left: 270px;
}
.col-key{
  width: 10%;
  font-size: small;
}
.col-value{
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}
.mat-card{
  margin: 5px;
}
.mat-sort-header-container {
  align-items: center;
}
th{
  width: auto;
}


/* Tabs */

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
