<mat-drawer-container class="example-container" >
  <mat-drawer #drawer [mode]="true" class="example-sidenav-content">
      <mat-toolbar color="primary"><span>Configuraciones</span></mat-toolbar>
      <form  [formGroup]="form">
      
      <mat-form-field class="item-config">
      <mat-label>Pais</mat-label>
          <mat-select matNativeControl required [formControl]="pais" (selectionChange)="changePais($event)"> 
            <mat-option value="argentina" selected>Argentina</mat-option>
            <mat-option value="estados_Unidos">Estados Unidos</mat-option>
            <mat-option value="brasil">Brasil</mat-option>
            <mat-option value="chile">Chile</mat-option>
            <mat-option value="colombia">Colombia</mat-option>
            <mat-option value="mexico">Mexico</mat-option>
          </mat-select>
        <mat-error *ngIf="pais.hasError('required')">Campo Requerido</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field class="item-config">
        <mat-label>Instrumento</mat-label>
         <mat-select matNativeControl required [formControl]="instrumento" (selectionChange)="changeInstrumento($event)"> 
            <mat-option *ngFor="let instrumento of instrumentos" [value]="instrumento.instrumento">
              {{instrumento.instrumento}}
            </mat-option>
          </mat-select>
        <mat-error *ngIf="instrumento.hasError('required')">Campo Requerido</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field class="item-config">
        <mat-label>Panel</mat-label>
         <mat-select matNativeControl required [formControl]="panel" (selectionChange)="changePanel($event)"> 
            <mat-option *ngFor="let panel of paneles" [value]="panel.panel">
              {{panel.panel}}
            </mat-option>
          </mat-select>
        <mat-error *ngIf="panel.hasError('required')">Campo Requerido</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field class="item-config">
        <mat-label>Mercado</mat-label>
         <input matInput [formControl]="mercado" value="BCBA">
         <mat-error *ngIf="!mercado.hasError('required')">Campo Requerido</mat-error>
      </mat-form-field> 
      
      <mat-form-field class="item-config">
        <mat-label>Activo</mat-label>
         <mat-select matNativeControl required [formControl]="simbolo" (selectionChange)="changeTitulo($event)"> 
            <mat-option *ngFor="let titulo of titulos" [value]="titulo.simbolo">
              {{titulo.simbolo}}
            </mat-option>
          </mat-select>
        <mat-error *ngIf="titulo.hasError('required')">Campo Requerido</mat-error>
      </mat-form-field>

      <section>
        <mat-form-field class="item-date">
            <input matInput [matDatepicker]="picker1" placeholder="Desde" [formControl]="fechaDesde">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="item-date">
            <input matInput [matDatepicker]="picker2" placeholder="Hasta" [formControl]="fechaHasta">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </section>

      <div style="padding-top: 15%; margin: 4%;">
      <button mat-raised-button style="color:red;" (click)="logout()" class="item-config">Cerrar Sesion</button>
      </div>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-icon class="mat-icon-rtl-mirror" (click)="drawer.toggle()">dehaze</mat-icon>
    </mat-toolbar>


      

      
          
          <div style="height: 60px; display: flex; margin: 3px 10px 3px 10px;"><h1 style="">{{tituloLess.descripcion}}</h1><p style="font-size: small;padding-left: 15px;">{{tituloLess.simbolo}}</p></div>
          <mat-card color="gray">
            <div>
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="8" style="text-align: left;">Datos de cotizaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-key">Precio Apertura:</td>
                        <td class="col-value">$ {{cotizacionActivo.apertura}}</td>
                        <td class="col-key">Tendencia:</td>
                        <td class="col-value">{{cotizacionActivo.tendencia}}</td>
                    </tr>
                    <tr>
                        <td class="col-key">Último Precio:</td>
                        <td class="col-value">$ {{cotizacionActivo.ultimoPrecio}}</td>
                        <td class="col-key">Monto Operado:</td>
                        <td class="col-value">{{cotizacionActivo.montoOperado | currency}}</td>
                    </tr>
                    <tr>
                        <td class="col-key">Máximo:</td>
                        <td class="col-value">$ {{cotizacionActivo.maximo}}</td>
                        <td class="col-key">Variación diaria:</td>
                        <td class="col-value">{{cotizacionActivo.variacion}} %</td>
                    </tr>
                      <tr>
                        <td class="col-key">Mínimo:</td>
                        <td class="col-value">$ {{cotizacionActivo.minimo}}</td>
                        <td class="col-key"></td>
                        <td class="col-value"></td>
                    </tr>
                </tbody>
            </table>
            </div>
          </mat-card>
        

          <mat-card> 
            <button mat-button style="width: 10%;"(click)="buscarOpciones()" class="item-config">Detalle de opciones</button>
            <table class="table-opciones"matSort (matSortChange)="sortData($event)">
              <tr>
                <th mat-sort-header="tipoOpcion" style="width: 1%;">Tipo</th>
                <th mat-sort-header="simbolo" style="width: 5%;">Simbolo</th>
                <th mat-sort-header="descripcion" style="width: 5%;">Descripcion</th>
                <th mat-sort-header="montoOperado" style="width: 5%;">Monto</th>
              </tr>
              <tr *ngFor="let opcion of opciones">
                <td>{{opcion.tipoOpcion}}</td>
                <td>{{opcion.simbolo}}</td>
                <td>{{opcion.descripcion}}</td>
                <td>{{opcion.cotizacion.montoOperado | currency}}</td>
              </tr>
            </table>
          </mat-card>

         
          <mat-card> 
            <button mat-button style="width: 5%;"(click)="graficar()" class="item-config">Graficar</button>
              <mat-form-field class="example-full-width">
                 <input matInput placeholder="" [(ngModel)]="activo" id="activoChart" >
              </mat-form-field>
           
            <div id="chartdiv" style="width: 100%; height: 50%;"></div>
            <div id="chartdivvolumen" style="width: 100%; height: 30%;"></div>
          </mat-card>


          
      
     
  </mat-drawer-content>
</mat-drawer-container>

 