<!-- <mat-drawer-container class="example-container" >
  <mat-drawer #drawer [mode]="true" class="example-sidenav-content">   
  </mat-drawer>
  <mat-drawer-content> -->
    <mat-toolbar color="primary">
    <!-- <mat-icon class="mat-icon-rtl-mirror" (click)="drawer.toggle()">dehaze</mat-icon> -->
    </mat-toolbar>

    <mat-tab-group dynamicHeight [selectedIndex]="2">
       <mat-tab label="Cotizaciones">
            <!-- mat-card color="gray">
            <mat-form-field >
            <mat-label>Pais</mat-label>
                <mat-select [(value)]="paises" [formControl]="pais" (selectionChange)="changePais($event)"> 
                   <mat-option *ngFor="let pais of paises"  value="{{ pais.value }}">
                    {{ pais.desc }}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="pais.hasError('required')">Campo Requerido</mat-error>
              <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Instrumento</mat-label>
              <mat-select matNativeControl required [formControl]="instrumento" (selectionChange)="changeInstrumento($event)"> 
                  <mat-option *ngFor="let instrumento of instrumentos" [value]="instrumento.instrumento">
                    {{instrumento.instrumento}}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="instrumento.hasError('required')">Campo Requerido</mat-error>
              <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Panel</mat-label>
              <mat-select matNativeControl required [formControl]="panel" (selectionChange)="changePanel($event)"> 
                  <mat-option *ngFor="let panel of paneles" [value]="panel.panel">
                    {{panel.panel}}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="panel.hasError('required')">Campo Requerido</mat-error>
              <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Mercado</mat-label>
              <input matInput [formControl]="mercado" value="BCBA">
              <mat-error *ngIf="!mercado.hasError('required')">Campo Requerido</mat-error>
            </mat-form-field> 
            
            <mat-form-field>
              <mat-label>Activo</mat-label>
              <mat-select matNativeControl required [formControl]="simbolo" (selectionChange)="changeTitulo()"> 
                  <mat-option *ngFor="let titulo of titulos" [value]="titulo.simbolo">
                    {{titulo.simbolo}}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="titulo.hasError('required')">Campo Requerido</mat-error>
            </mat-form-field>

            <section>
              <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Desde" [formControl]="fechaDesde">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Hasta" [formControl]="fechaHasta">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </section>

          </mat-card -->
          
          <div style="height: 60px; display: flex; margin: 3px 10px 3px 10px;"><h1>{{tituloLess.descripcion}}</h1><p style="font-size: small;padding-left: 15px;">{{tituloLess.simbolo}}</p></div>
          <mat-card color="gray">
            <div>
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="8" style="text-align: left;">Datos de cotizaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-key">Precio Apertura:</td>
                        <td class="col-value">$ {{cotizacionActivo.apertura}}</td>
                        <td class="col-key">Tendencia:</td>
                        <td class="col-value">{{cotizacionActivo.tendencia}}</td>
                    </tr>
                    <tr>
                        <td class="col-key">Último Precio:</td>
                        <td class="col-value">$ {{cotizacionActivo.ultimoPrecio}}</td>
                        <td class="col-key">Monto Operado:</td>
                        <td class="col-value">{{cotizacionActivo.montoOperado | currency}}</td>
                    </tr>
                    <tr>
                        <td class="col-key">Máximo:</td>
                        <td class="col-value">$ {{cotizacionActivo.maximo}}</td>
                        <td class="col-key">Variación diaria:</td>
                        <td class="col-value">{{cotizacionActivo.variacion}} %</td>
                    </tr>
                    <tr>
                        <td class="col-key">Mínimo:</td>
                        <td class="col-value">$ {{cotizacionActivo.minimo}}</td>
                        <td class="col-key"></td>
                        <td class="col-value"></td>
                    </tr>
                </tbody>
            </table>
            </div>
          </mat-card>
          <mat-card> 
            <!-- button mat-button style="width: 10%;"(click)="buscarOpciones()">Listar Opciones</button -->
            <mat-form-field>
              <mat-label>Mes</mat-label>
              <mat-select  [(ngModel)]="mesActual"> 
                  <mat-option *ngFor="let mes of meses" [value]="mes">
                    {{mes}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button style="width: 10%;"(click)="filtrarCall()">Call</button>
            <button mat-button style="width: 10%;"(click)="filtrarPut()">Put</button>
            <table class="table-opciones" matSort (matSortChange)="sortData($event)">
              <tr>
                <th mat-sort-header="simbolo" style="width: 5%;">Simbolo</th>
                <th mat-sort-header="estado" style="width: 5%;">Estado</th>
                <!-- th mat-sort-header="montoOperado" style="width: 5%;">Monto</th -->
                <th mat-sort-header="cantidadCompra" style="width: 5%;">Cant Compra</th>
                <th mat-sort-header="precioCompra" style="width: 5%;">Precio Compra</th>
                <th mat-sort-header="cantidadVenta" style="width: 5%;">Cant Venta</th>
                <th mat-sort-header="precioVenta" style="width: 5%;">Precio Venta</th>
              </tr>
              <tr *ngFor="let opcion of opcionesFiltradas; let idx=index; let even=even" 
                [style.background-color]="opcion.rowClicked ? 'f9f889' : (even ? '#fff' : '#efefef')"
                (click)="(opcion.rowClicked = !opcion.rowClicked); setActivoWitchChart(opcion);">
                <td>{{opcion.simbolo}}</td>
                <td>{{opcion.estado}}</td>
                <!-- td>{{opcion.montoOperado | currency}}</td -->
                <td>{{opcion.puntas[0].cantidadCompra}}</td>
                <td>{{opcion.puntas[0].precioCompra}}</td>
                <td>{{opcion.puntas[0].cantidadVenta}}</td>
                <td>{{opcion.puntas[0].precioVenta}}</td>
              </tr>
            </table>
          </mat-card>
          <!-- mat-card> 
            <button mat-button style="width: 5%;"(click)="graficar()">Graficar</button>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="" [(ngModel)]="activo" id="activoChart" >
            </mat-form-field>
            <div id="chartdiv" style="width: 100%; height: 50%;"></div>
            <div id="chartdivvolumen" style="width: 100%; height: 30%;"></div>
        </mat-card -->
      </mat-tab>
      
      
      <mat-tab label="Cuenta">
        <mat-card> 
          <h3>Mi Cuenta</h3>
          <ul *ngFor="let cuenta of cuentas; let i = index">
              <p>Saldo disponible en {{cuenta.tipo === 'inversion_Argentina_Pesos' ? 'Pesos' : 'Dolares'}}  <b>{{cuenta.disponible | currency}} </b></p>
          </ul>
        </mat-card>

        <mat-card> 
          <h3>Portafolio</h3>            
            <table mat-table [dataSource]="activos" class="mat-elevation-z0" style="width:100%;">
              <ng-container matColumnDef="Activo">
                <th mat-header-cell *matHeaderCellDef>Activo</th>
                <td mat-cell *matCellDef="let element"> {{element.titulo.simbolo}} </td>
              </ng-container>
              <ng-container matColumnDef="Cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
              </ng-container>
              <ng-container matColumnDef="Variación diaria">
                <th mat-header-cell *matHeaderCellDef>Variación diaria</th>
                <td mat-cell *matCellDef="let element"> {{element.variacionDiaria}} % </td>
              </ng-container>
              <ng-container matColumnDef="Último Precio">
                <th mat-header-cell *matHeaderCellDef>Último Precio</th>
                <td mat-cell *matCellDef="let element"> {{element.ultimoPrecio | currency}} </td>
              </ng-container>
              <ng-container matColumnDef="PPC">
                <th mat-header-cell *matHeaderCellDef>PPC</th>
                <td mat-cell *matCellDef="let element"> {{element.ppc | currency}} </td>
              </ng-container>
              <ng-container matColumnDef="Ganancia-Pérdida">
                <th mat-header-cell *matHeaderCellDef>Ganancia-Pérdida</th>
                <td mat-cell *matCellDef="let element"> {{element.gananciaPorcentaje}} % </td>
              </ng-container>
              <ng-container matColumnDef="Saldo Valorizado">
                <th mat-header-cell *matHeaderCellDef>Saldo Valorizado</th>
                <td mat-cell *matCellDef="let element"> {{element.valorizado | currency}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsPortafolio"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPortafolio;"></tr>
            </table>  


            <button mat-button style="width: 200px; margin-top: 50px;"(click)="refreshPortafolio()">Refrescar Portafolio</button>
        </mat-card>

        <mat-card>
          <button mat-button style="width: 200px; margin-top: 50px;"(click)="consultarOperaciones()">Operaciones</button>
            {{ operaciones | json }}
        </mat-card>
      </mat-tab>
      <!-- mat-tab label="Operar">
        <mat-card>
          
          <div>
            <mat-form-field style="margin-right: 5px;">
              <input matInput placeholder="Simbolo" [formControl]="activoOperar" (change)="buscarCotizacionActivoAOperar()">
            </mat-form-field> 

            <label style='margin-right: 50px'>Último Operado: <b>{{activoOperarCotizacion.ultimoPrecio | currency}}</b></label> 
            <label style='margin-right: 50px'>Variación diaria: <b>{{activoOperarCotizacion.variacion}}  %</b></label>
          
            <table mat-table [dataSource]="activoOperarCotizacion.puntas" class="mat-elevation-z1" style="width:50%;">  
              <ng-container matColumnDef="Cant Compra">
                <th mat-header-cell *matHeaderCellDef>Cant Compra</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidadCompra}} </td>
              </ng-container>
              <ng-container matColumnDef="Precio Compra">
                <th mat-header-cell *matHeaderCellDef>Precio Compra</th>
                <td mat-cell *matCellDef="let element"> <b> {{element.precioCompra}} </b> </td>
              </ng-container>
              <ng-container matColumnDef="Precio Venta">
                <th mat-header-cell *matHeaderCellDef>Precio Venta</th>
                <td mat-cell *matCellDef="let element"> <b> {{element.precioVenta}} </b> </td>
              </ng-container>
              <ng-container matColumnDef="Cant Venta">
                <th mat-header-cell *matHeaderCellDef>Cant Venta</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidadVenta}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntas"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPuntas;"></tr>
            </table> 
          </div>


          <div style='margin-top: 25px;'>
            <button mat-button style="width: 100px; background: #689f38; color: white; margin-right: 15px;" (click)="comprar()">Comprar</button>
            <button mat-button style="width: 100px; background: #689f38; color: white; margin-right: 15px;" (click)="vender()">Vender</button>
          </div>

          <div style="margin-top: 25px;"> 
            <mat-form-field style="margin-right: 5px;">
              <input matInput placeholder="Cantidad" [formControl]="cantidadOperar" (change)="calcularMonto()" >
            </mat-form-field>
            <mat-form-field style="margin-right: 5px;">
              <input matInput placeholder="Precio" [formControl]="precioOperar" (change)="calcularMonto()">
            </mat-form-field>
            {{montoOperar  | currency}}
          </div>
          <li style='list-style:none;' *ngFor="let item of messagesOperatoria">
            {{ item.message }}
          </li>
        </mat-card>
      </mat-tab -->

    <mat-tab label="Estrategia">

      <app-bull-spread [activoSubyacente]="cotizacionActivo"></app-bull-spread>


    </mat-tab>




    </mat-tab-group>
     <div style="padding-top: 15%; margin: 4%;">
      <button mat-raised-button (click)="logout()" style="width:95%; color:red">Cerrar Sesion</button>
    </div>
 <!--  </mat-drawer-content>
</mat-drawer-container> -->

 