<tr>
  <td>{{ base.cotizacion.simbolo }}</td>
  <td>{{ base.operation }}</td>
  <td>{{ base.quantity }}</td>
  <td>{{ base.price }}</td>
  <td>{{ base.estadoActual }}</td>
  <td>
    <button (click)="edit()">edit</button>
  </td>
</tr>
<tr *ngIf="editing">
  <td colspan="6">
    <form [formGroup]="form">
      <div>
        <input matInput placeholder="Quantity" formControlName="quantity" type="number" />
      </div>
      <div>
        <label>Usar Valor de Mercado</label>
        <mat-checkbox formControlName="useMarketValue"></mat-checkbox>
      </div>
      <div *ngIf="!form.value.useMarketValue">
        <input matInput placeholder="Price" formControlName="price" type="number" />
      </div>
      <button (click)="cancel()">Cancel</button> 
      <button (click)="onSave()">OK</button>
    </form>
  </td>
</tr>

